body {
    font-family: Arial;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(145, 145, 145);
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
}

.app-header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    background: rgba(169, 169, 169, 1);
    position: relative;
}
.app-header a{
    position: absolute !important;
    display: block;
    top: 10px;
    right: 15px;
    color: #fff;
}
.app-title {
    font-size: 28px;
    line-height: 40px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
.app-headline {
    color: #999;
    font-size: 15px;
}

.app-body {
    margin-top: 10px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.archive-control {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 22px;
    line-height: 22px;
    padding: 5px 0px 5px 10px;
    margin-bottom: 0px;
    background: #ecf0f1;
}
.archive-control p{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
    padding: 10px;
}
ul li {
    line-height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-form {
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    height: 30px;
    padding: 0 10px;
    width: 100%;
    max-width: 400px;
}

input[type="submit"] {
    height: 30px;
    text-align: center;
    margin: 10px;
    width: 120px;
}