<header class="app-header">
    <h1 class="app-title">Please, enter password</h1>
</header>

<section class="app-body">

    <form data-ng-submit="login()" class="user-form">
        <input type="text" data-ng-model="username" placeholder="Enter your name"/>
        <br/>
        <br/>
        <input type="password" data-ng-model="password" placeholder="Enter access key"/>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</section>