<header class="app-header">
    <h1 class="app-title">Welcome - {{adminUsername}}</h1>
    <a href="" data-ng-click="logout()">Logout</a>
</header>

<section class="app-body">
    <section class="archive-control">
        <p>[ <a href="" data-ng-click="archive()">Remove Selected Items</a> ]</p>
    </section>

    <ul class="unstyled">
        <li data-ng-repeat="user in users track by $index">
            <input type="checkbox" data-ng-model="user.isSelected">
            <span class="isSelected-{{ user.isSelected }}">{{ user.name }}</span>
        </li>
    </ul>

    <form data-ng-submit="addUser()" class="user-form">
        <input type="text" data-ng-model="name" placeholder="Enter new User"/>
        <br/>
        <input type="submit" value="Add User"/>
    </form>
</section>
